@font-face {
font-family: 'Gilroy';
src: url('https://github.com/ivanmayorov13/albert/blob/main/Gilroy-Thin.woff') format('woff');
font-weight: 100;
font-style: thin;
}
@font-face {
font-family: 'Gilroy';
src: url('https://github.com/ivanmayorov13/albert/blob/main/Gilroy-Light.woff') format('woff');
font-weight: 200;
font-style: light;
}
@font-face {
font-family: 'Gilroy';
src: url('https://github.com/ivanmayorov13/albert/blob/main/Gilroy-Regular.woff') format('woff');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Gilroy';
src: url('https://github.com/ivanmayorov13/albert/blob/main/Gilroy-Medium.woff') format('woff');
font-weight: 400;
font-style: medium;
}
@font-face {
font-family: 'Gilroy';
src: url('https://github.com/ivanmayorov13/albert/blob/main/Gilroy-Semibold.woff') format('woff');
font-weight: 500;
font-style: semibold;
}
@font-face {
font-family: 'Gilroy';
src: url('https://github.com/ivanmayorov13/albert/blob/main/Gilroy-Extrabold.woff') format('woff');
font-weight: 600;
font-style: bold;
}
